{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card my-4">
                <div class="card-header bg-primary text-white">
                    <h1 class="text-center pt-2" onclick="update_dp()">Calendar</h1>
                </div>
                <div class="card-body">
                    <div class="datepicker"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card my-4 meal-card">
                <div class="card-header bg-primary text-white">
                    <h1 class="text-center pt-2">Today</h1>
                </div>
                <div class="card-body">
                    <div class="planned_meal d-none">
                        <div class="form-group">
                            <label for="chosen_meal">Meal:</label>
                            <input class="form-control chosen_meal" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="book">Book:</label>
                            <input class="form-control book" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="book_page">Page:</label>
                            <input class="form-control book_page" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="url">URL:</label>
                            <input class="form-control url" readonly value=""/>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-info btn-block opnMdl" role="button">Plan Meal</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card my-4 meal-card">
                <div class="card-header bg-primary text-white">
                    <h1 class="text-center pt-2">Tomorrow</h1>
                </div>
                <div class="card-body">
                    <div class="planned_meal d-none">
                        <div class="form-group">
                            <label for="chosen_meal">Meal:</label>
                            <input class="form-control chosen_meal" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="book">Book:</label>
                            <input class="form-control book" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="book_page">Page:</label>
                            <input class="form-control book_page" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="url">URL:</label>
                            <input class="form-control url" readonly value=""/>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-info btn-block opnMdl" role="button">Plan Meal</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card my-4 meal-card">
                <div class="card-header bg-primary text-white">
                    <h1 class="text-center pt-2">DATE</h1>
                </div>
                <div class="card-body">
                    <div class="planned_meal d-none">
                        <div class="form-group">
                            <label for="chosen_meal">Meal:</label>
                            <input class="form-control chosen_meal" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="book">Book:</label>
                            <input class="form-control book" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="book_page">Page:</label>
                            <input class="form-control book_page" readonly value=""/>
                        </div>
                        <div class="form-group">
                            <label for="url">URL:</label>
                            <input class="form-control url" readonly value=""/>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-info btn-block opnMdl" role="button">Plan Meal</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="meal_plan_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="modal_chosen_meal">Meal:</label>
                    <input name="modal_chosen_meal" id="modal_chosen_meal" class="form-control" class="chosen_meal"
                           value=""/>
                </div>
                <div class="form-group">
                    <label for="modal_book">Book:</label>
                    <input name="modal_book" id="modal_book" class="form-control" class="book" value=""/>
                </div>
                <div class="form-group">
                    <label for="modal_book_page">Page:</label>
                    <input name="modal_book_page" id="modal_book_page" class="form-control" class="book_page" value=""/>
                </div>
                <div class="form-group">
                    <label for="modal_url">URL:</label>
                    <input name="modal_url" id="modal_url" class="form-control" class="url" value=""/>
                </div>
                <div class="form-group d-none">
                    <label for="modal_id">ID:</label>
                    <input type="hidden" name="modal_id" id="modal_id" class="form-control" class="id" value=""/>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="modal_save" data-dismiss="modal">Save</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
<!--    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-datepicker.js')}}"></script>
<!--    <script type="text/javascript" src="{{url_for('static', filename='js/meal-plan.js')}}">-->
<script>
    document.write('<script src="{{url_for('static', filename='js/meal-plan.js')}}?dev=' + Math.floor(Math.random() * 100000) + '"\><\/script>');
</script>

</script>

{% endblock content %}
